
.experience-image{
    margin:40px auto;
    text-align: center;
}
#exp-para{
    font-size: xx-large;
    color:white;
    margin-top:30px;
}
.nagarro-img{
    height:10%;
    width:20%;
    margin:10px 40% 2px 40%;
}

